<html>

<body>
<div [ngClass]="messageClass">{{message}}</div>
    <div style="background-image: url('./assets/images/backgroundimage.jpg'); height: 100vh">
        <form [formGroup]="form" (ngSubmit)="loginpage()" class="mt-5">
            <h1 class="mb-4 text-center">Login Form </h1>
            <div class="card  mx-5 ">
                <div class="form-group row mt-5 mx-5">
                    <label for="username" class="col-sm-2 col-form-label">UserName</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="username" aria-describedby="emailHelp"
                            placeholder="Enter UserName">
                    </div>
                    <ul class="form-text text-danger" >
                        <li *ngIf="username.errors?.['required'] && username.touched">
                       *UserName is required
                        </li>
                        <li  *ngIf="username.errors?.['minlength'] || username.errors?.['maxlength']  && username.touched">
                           *UserName must be atleast 2 character but not more than 20 characters    
                        </li>
                       </ul> 
                </div>


                <div class="form-group row mt-5 mx-5">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" autocomplete="on" formControlName="password" placeholder="Password">
                    </div>
                    <ul class="form-text text-danger" >
                        <li *ngIf="password.errors?.['required'] && password.touched">
                       *Password is required
                        </li>
                        <li  *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength']  && password.touched">
                           *Password must be atleast 6 character but not more than 30 characters    
                        </li>
                       </ul> 
                </div>
                </div>
                <input [disabled]="!form.valid || processing" class="btn btn-primary  mt-3 mx-5" type="submit" value="Login">
            </form> 

