<header>
  <nav class="shadow navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
      <div class="navbar-nav ">

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
          class="nav-item fas fa-shipping-fast">
          <a class="nav-link active" aria-current="page" routerLink="/homepage">
            <i class="fas fa-shipping-fast">
              <strong style="font-size:30px">Bazzaarr</strong>
            </i>
          </a>
        </li>
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>

      <ul class="navbar-nav navbar-right">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a class="nav-link active " routerLink="/profile">Profile</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a class="nav-link active" routerLink="/add-to-cart">Cart</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a class="nav-link active" routerLink="register">SignIn</a>
        </li>

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a class="nav-link active" routerLink="login">LogIn🔒</a>
        </li>
      </ul>

    </div>
  </nav>
</header>
<body>


</body>